EXPO_PUBLIC_SUPABASE_URL=https://enuaysidfldhjdeofpyd.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVudWF5c2lkZmxkaGpkZW9mcHlkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3MDYzOTAsImV4cCI6MjA5MDI4MjM5MH0.3wQvxKrbzISdnRBpHftoebpNBgWgRxTPgsdEEDv-yUY
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=714470642390-48qig8pb3vhou0503sp56pk10pp47q87.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=714470642390-48qig8pb3vhou0503sp56pk10pp47q87.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=714470642390-48qig8pb3vhou0503sp56pk10pp47q87.apps.googleusercontent.com